.cell {
  //width: 60px;
  //height: 60px;
  margin: 0.5px;
  border: 1px solid #cccccc;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.ship {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #539196;
  &-shooted {
    background-color: #965396;
  }
  &__shoot-selected {
    background-color: #d93e3e;
  }
  &__shoot-wounded {
    background-color: #d929b6;
  }
  &__shoot-missed {
    background-color: #7a7e77;
  }
  &__shoot-killed {
    background-color: #2727d2;
  }
}
