.platform {
    width: 100%;
    &-header  {
        color:#539196;
        display: flex;
        justify-content: center;
    }
    &-middle {
        display: flex;
        justify-content: space-between;
        &-right {
            width: 30%;
            min-width: 270px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            .ready-button {
                background-color: #539196;
                width: 200px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                cursor: pointer;
            }

            .ready-button:hover {
                background-color: #6fbfc5;
            }

            h1 {
                color: white;
            }
        }
    }
}