* {
    transition-property: background-color;
    transition-duration: 0.5s;
}
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: url('./images/back1.jpg'); */
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */   
}

h1,h2,h3,h4,h5 {
    color:#539196;
    margin: 0;
}

.header-logo {
    position: absolute;
    background-color: #539196;
    color: white;
    z-index: -1;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    line-height: 95px;
    font-weight: 500;
    top: 10px;
    left: 10px;
}

.middle-zone {
    line-height: 200px;
    font-size: 30px;
    color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: #d93e3e;
    &__can_shoot {
        background-color: #6fbfc5;
     }
}