.home {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color:#539196;
    &-wrap {
        width: 1000px;
        height: 500px;
        box-shadow: 0px 6px 65px 25px rgba(34, 60, 80, 0.1);
        display: flex;
        background-color: white;
        &-left {
            width: 450px;
            height: 100%;
            background-color: #539196;
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                display: inline-block;
                background-color: white;
                text-align: center;
                width: 200px;
                height: 200px;
                border-radius: 100px;
                line-height: 195px;
            }
        }
        &-right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &-nameform {
                display: flex;
                flex-direction: column;
                min-width: 254;
                .name-input {
                    color:#539196;
                    font-size: 30px;
                    outline-style: none;
                    box-shadow: none;
                    border-color: transparent;
                    border: 0px;
                    width: 250px;
                    border-bottom: 3px solid;
                }
            }
            h2 {
                display: block;
                width: 100px;
                height: 100px;
                color: white;
                text-align: center;
                border-radius: 100px;
                line-height: 95px;
                background-color: #539196;
                cursor: pointer;
            }
            h2:hover {
                background-color: #6fbfc5;
            }
        }
    }
}